<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               
        <td> 9:30 - 9:45 </td>        <!-- time    -->
        <td>Welcome and icebreaker</td>        <!-- content -->
      </tr>
      <tr>               
        <td>9:45 - 10:00</td>        <!-- time    -->
        <td>Introduction to raster, vector, and CRS</td>        <!-- content -->
      </tr>
      <tr>               
        <td>10:00 - 11:00</td>        <!-- time    -->
        <td>Access satellite imagery using Python</td>        <!-- content -->
      </tr>
      <tr>               
        <td>11:00 - 11:15</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               
        <td>11:15 - 12:30</td>        <!-- time    -->
        <td>Read and visualize raster data</td>        <!-- content -->
      </tr>
      <tr>               
        <td>12:30 - 13:30</td>        <!-- time    -->
        <td>Lunch break</td>        <!-- content -->
      </tr>
      <tr>               
        <td>13:30 - 14:30</td>        <!-- time    -->
        <td>Vector data in Python</td>        <!-- content -->
      </tr>
      <tr>               
        <td>14:30 - 14:45</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               
        <td>14:45 - 15:45</td>        <!-- time    -->
        <td>Raster data preprocessing with rioxarray and geopandas</td>        <!-- content -->
      </tr>
      <tr>               
        <td>15:45 - 16:00</td>        <!-- time    -->
        <td>Short break</td>        <!-- content -->
      </tr>
      <tr>               
        <td>16:00 - 16:40</td>        <!-- time    -->
        <td>Raster calculations in Python</td>        <!-- content -->
      </tr>
      <tr>               
        <td>16:45 - 17:00</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
      <tr>               
        <td>17:00</td>        <!-- time    -->
        <td>End of Day 1</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>              
        <td>9:15 - 9:30</td>        <!-- time    -->
        <td>Welcome and icebreaker</td>        <!-- content -->
      </tr>
      <tr>               
        <td>9:30 - 10:45</td>        <!-- time    -->
        <td>Calculating Zonal Statistics on Rasters</td>        <!-- content -->
      </tr>
      <tr>               
        <td>10:45 - 11:00</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>             
        <td>11:00 - 12:15</td>        <!-- time    -->
        <td>Parallel raster computations using Dask</td>        <!-- content -->
      </tr>
      <tr>              
        <td>12:15 - 12:30</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
      <tr>               
        <td>12:30</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
